# Compiled class file
*.class
**/*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
**/*.jar
*.war
**/*.war
*.ear
**/*.ear
*.zip
**/*.zip
*.tar.gz
**/*.tar.gz
*.rar
**/*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
target/
**/target/
.svn/*
**/.svn/*
.svn/
**/.svn/*
*.iml
**/*.iml
.idea/*
.classpath
**/.classpath
.project
**/.project
.settings/*
**/.settings/
.settings/
bin/*
bin/
**/bin/*
**/bin/
